@using ProcessOfElimination.Models
@using Microsoft.AspNet.Identity;
@model PlayViewModel
@{
    ViewBag.Title = "Game #" + Model.Game.ID + ": " + Model.Game.Name;
}

<div class="jumbotron">
    <h1>Some event</h1>
    <p>A description of the event. Or something.</p>
</div>

